version: '3.8'

services:
  movies:
    image: batheiah/movies
    ports:
      - "81:80"
    deploy:
      replicas: 3

  train:
    image: batheiah/train
    ports:
      - "82:80"
    deploy:
      replicas: 3

  dth:
    image: batheiah/dth 
    ports:
      - "83:80"
    deploy:
      replicas: 3
  recharge:
    image: batheiah/recharge
    ports:
      - "84:80"
    deploy:
      replicas: 3
